:root {
    --rose: #f08686;
    --blanc: #ffff;
    --gris: #c2bebe;
    --noir: #000;
    --grismoyen: #ffffffb3;
    --grisclair: #ffffffcc;
    --text: #685e5e;
    --rouge: #e52f37;
    --bleu:#0D5B78;
    --fond_superman:#d4d4d4;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}